.tech-scroll-container {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  display: flex;
  width: fit-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes scroll-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll-reverse {
  animation: scroll-reverse 40s linear infinite;
  display: flex;
  width: fit-content;
}

.animate-scroll-reverse:hover {
  animation-play-state: paused;
}